.App {
  margin: 24px;
}

.postPreview{
  margin: 10px 0px;
  border: 5px solid indianred;
  padding: 5px;
}

.title {
  width: 70%;
  text-align: left;
  display: inline-block;
  background-color: aqua;
}

.userName{
  width: 30%;
  text-align: right;
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.userView {
  background-color: azure;
}

.postView {
  background-color: azure;
}

.close {
  background-color: greenyellow;
}

.search {
  padding: 10px;
}

.filter {
  background-color: blueviolet;
}